<div class="p-5 border border-black">
  <div *ngIf="!token">
    <a
      href="http://localhost:8888/login"
      class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-full inline-block transition duration-300 ease-in-out"
    >
      Login to Spotify
    </a>
  </div>
  <div class="flex flex-row space-x-8 justify-end" *ngIf="token">
    <app-navbar />
    <a href="http://localhost:4200/">
      <button
        (click)="logout()"
        class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-gray-300"
      >
        Log out
      </button>
    </a>
  </div>
</div>
